.form {
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0.2em 0;
        border-radius: 20px;
        border: 1px solid #585858;
        padding: 2em;
        label {
            font-size: 14px;
            color: #fff;
            text-align: center;
            // width: 150px;
        }
        input {
            padding: 0.4em;
            outline: none;
            border: 1px solid #494949;
            border-radius: 0.3em;
            color: rgb(216, 216, 214);
            width: 100%;
            margin: 1em 0;
            font-size: 12px;
            background: none;
            text-align: center;
        }
        input::placeholder {
            color: #525050;
        }
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            li {
                margin-bottom: 0.4em;
                border: 1px solid #444444;
                font-size: 12px;
                list-style: none;
                width: 250px;
                padding: 0em 0.4em;
                border-radius: 0.3em;
                display: flex;
                color: rgb(216, 216, 214);
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                display: flex;
                flex-direction: row;
                align-items: center;
                span {
                    padding: 0.4em;
                    font-size: 12px;
                }
                .name {
                    width: 60%;
                }
                .price {
                    width: 20%;
                }
                .close {
                    font-size: 12px;
                    background-color: red;
                    color: #fff;
                    margin-right: 0.5em;
                    margin: 1em 0;
                    width: 25px;
                    margin-left: 1em;
                    height: 25px;
                    line-height: 25px;
                    padding: 0;
                    text-align: center;
                    border-radius: 25px;
                }
            }
        }
        .error {
            @extend input;
            border-color: red;
        }
        .send_code {
            background-color: green;
            color: white;
            border-radius: 10px;
            border: none;
        }
    }
    .button {
        width: 50%;
        margin: 1em auto;

        border-radius: 20px;
        border: 1px solid #fff;
        font-size: 20px;
        color: #ffff;
        background: none;
    }
}
.success_container{
    width: 100%;
    height: 100%;
    color: #ff0;
    text-align: center;
}