.ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly !important;
    flex-wrap: wrap;
    .li {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        text-align: center;
        line-height: 50px;
        color: white;
        border: 1px solid white;
        margin: 0.2em 0.3em;
        list-style: none;
        backdrop-filter: blur(10px);
    }
    .li_checked {
        @extend .li;
        border-color: #ff0;
    }
}
